/*-- cart --*/
#PPminicarts{
    z-index: 2;
}
.btn-danger.my-cart-btn:focus {
    outline: none;
}

.add-cart input.button {
    font-size: 13px;
    color: #fff;
    background: #E54C2A;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
#PPminicarts .minicarts-details-remove i{
    color: #E54C2A;
}

#PPminicarts .minicarts-subtotal {
    color: #E54C2A;
}

#PPminicarts .minicarts-submit {
    border-radius: 4px !important;
}

#PPminicarts form {
    width: 590px !important;
    padding: 10px 20px 40px !important;
    max-height: 450px !important;
}

#PPminicarts ul {
    width: 548px !important;
}

#PPminicarts .minicarts-item a {
    color: #212121 !important;
    font-size: 1em;
    display: block;
    margin-bottom: .5em;
    text-transform: capitalize;
}

#PPminicarts .minicarts-item {
    min-height: 60px !important;
}

#PPminicarts .minicarts-attributes li {
    color: #999;
}

#PPminicarts .minicarts-remove {
    opacity: 1 !important;
    outline: none;
}

#PPminicarts .minicarts-submit {
    color: #fff !important;
    background: #E54C2A!important;
    padding: 0 10px !important;
    letter-spacing: 1px;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    bottom: -25px !important;
    right: -110px !important;
    border: 1px solid #E54C2A!important;
    border-radius: 0px !important;
    text-shadow: none !important;
}

#PPminicarts .minicarts-subtotal {
    padding-left: 25px !important;
    bottom: -17px !important;
    color: rgb(231, 25, 25);
}

#PPminicarts {
    left: 44% !important;
}

.minicarts-showing #PPminicarts form {
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
}

#PPminicarts .minicarts-footer {
    position: relative;
    width: 80%;
}

.men-pro-item {
    position: relative;
}

.men-thumb-item {
    position: relative;
}

#PPminicarts .minicarts-submit img {
    vertical-align: middle;
    padding: 4px 0 0 2px;
    display: none;
}
@media (max-width: 768px){
    #PPminicarts {
        left: 35% !important;
        z-index: 5;
        top: 134px !important;
    }
}
@media (max-width: 425px){
    #PPminicarts {
        left: 49% !important;
        z-index: 5 !important;
    }
    #PPminicarts form {
        width: 408px !important;
        padding: 10px 20px 40px !important;
        max-height: 450px !important;
    }
    #PPminicarts ul {
        width: 369px !important;
    }
    #PPminicarts .minicarts-details-name {
        float: left;
        width: 38% !important;
    }
    #PPminicarts .minicarts-subtotal {
        padding-left: 3px !important;
        bottom: -17px !important;
        color: #393AB1;
        left: 0 !important;
        font-size: 14px !important;
        font-weight: bold !important;
    }
    #PPminicarts .minicarts-submit {
        color: #fff !important;
        background: #E54C2A!important;
        padding: 0 10px !important;
        letter-spacing: 1px;
        text-decoration: none;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        transition: 0.5s all;
        bottom: -25px !important;
        right: -61px !important;
        border: 1px solid #E54C2A!important;
        border-radius: 0px !important;
        text-shadow: none !important;
        font-size: 11px !important;
        margin-right: 0px !important;
    }
    #PPminicarts .minicarts-details-price {
        float: left;
        width: 30% !important;
        text-align: right;
    }
    #PPminicarts .minicarts-remove {

        opacity: 1 !important;
        outline: none;
        margin: 0 !important;
    }
    #PPminicarts .minicarts-details-quantity {
        float: left;
        width: 22% !important;
        margin-left: 5px;
    }
}
@media (max-width: 375px){
    #PPminicarts {
        left: 56% !important;
        z-index: 5 !important;
    }
    #PPminicarts form {
        width: 356px !important;
        padding: 10px 20px 40px !important;
        max-height: 450px !important;
    }
    #PPminicarts .minicarts-details-price {
        float: left;
        width: 31% !important;
        text-align: right;
    }
    #PPminicarts ul {
        width: 313px !important;
    }
}
@media (max-width: 320px){
    #PPminicarts form {
        width: 305px !important;
        padding: 10px 10px 40px !important;
        max-height: 450px !important;
        left: 28px;
    }
    #PPminicarts ul {
        width: 282px !important;
    }
}
/*-- //cart --*/